{% extends 'base-head-nav.html' %}

{% load static %}

{% block main_body %}

<!-- post comment form -->
<div class="row">
	<div class="col-sm-12" style="padding: 0px">
		<div class="panel panel-default" style="margin-bottom: 8px; margin-right: 0px">
			<div class="panel-heading">发表评论</div>
			<div class="panel-body panel-subtile" style="">
			{% if login %}
				<form method='POST'>
				{% csrf_token %}
					<textarea class="form-control" rows="6" name="comment_text"></textarea>
					<div style="text-align: right; margin-top: 8px">
						<button type="submit" class="btn btn-primary">提交</button>
					</div>
				</form>
			{% else %}
				<span>您还未登录，不能发表评论！</span>
			{% endif %}
			</div>
		</div>
	</div>
</div>
      
<!-- all comment -->
<div class="row" style="">
	<div class="col-sm-12" style="padding: 0px">
		<div class="panel panel-default" style="margin-bottom: 4px;">
			<div class="panel-heading">最新评论</div>
			<div class="panel-body" style="">
			{% for comment in comments %}
				<div class="media">
					<div class="media-left">
					    <a href="#">
						      <img class="media-object img-circle" src="{{ comment.comment_author.photo }}" alt="..." style="height:64px; width:64px">
					      </a>
					</div>
					<div class="media-body">
						<h5 class="media-heading">
							<a href="/users/{{ comment.comment_author }}" style="text-decoration:none">{{ comment.comment_author  }}</a>
							<span> 发表于 {{ comment.comment_time }}</span>
						</h5>
						<div style="word-break:break-all">{{ comment.comment_text }}</div><br>
						<div style="text-align: right">
							<a href="#" onclick="onAgreeComment('agree', {{ comment.comment_id }}, 'agree_count')">
								<span class="glyphicon glyphicon-thumbs-up"></span>
							</a>
							<span>支持: <span id="agree_count">{{ comment.agree_count }}</span></span>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="#" onclick="onAgreeComment('disagree', {{ comment.comment_id }}, 'disagree_count')">
								<span class="glyphicon glyphicon-thumbs-down"></span>
							</a>
							<span>反对：<span id="disagree_count">{{ comment.disagree_count }}</span></span>
						</div>
					</div>
				</div>
				<!-- comment divider -->
				<hr style="margin-top: 8px" width="100%" size=2 />
				{% endfor %}
			</div>
		</div>
	</div>
</div> 
<script>
	function onAgreeComment(type, comment_id, element_id) {
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == 4 && xmlhttp.status == 200 && xmlhttp.responseText == "success") {
				var count = parseInt(document.getElementById(element_id).innerHTML);
				count += 1;
				document.getElementById(element_id).innerHTML = count.toString();
			}
		}
		xmlhttp.open("GET", "/comment/agree?comment_id=" + comment_id + "&type=" + type, true);
		xmlhttp.send();
	}
</script>
{% endblock %}
