{% extends "base.html" %}

<!-- navigator -->
{% block navigator %}
<div class="row">
	<div class="col-sm-12" style="margin-bottom: 4px; padding-top: 4px; padding-bottom: 4px; background: #abc">
		<div style="float: left; text-align: left;i height: 30px; line-height: 30px;">
			<small>当前位置: </small>
			{% for nav_item in nav_items %}
				<a href="{{ nav_item.path }}">{{ nav_item.text }}</a>
				{% if not forloop.last %}
					<span>/</span>
				{% endif %}
			{% endfor %}
		</div>
		<div style="float: right; text-align: right; padding-right: -4px">
			{% if not login %}
				<small>欢迎访问</small>&nbsp;&nbsp;
				<button type="button" class="btn btn-default" style="height: 30px; line-height: 15px">登录</button>
				<button type="button" class="btn btn-default" style="height: 30px; line-height: 15px">注册</button>
			{% else %}
				<small>欢迎访问</small>&nbsp;&nbsp;
				<small>{{ user.username }}</small>
			{% endif %}	
		</div>
	</div>
</div>
{% endblock %}
