<!DOCTYPE html>
<html>
	<head>
		<title>Best Code</title>
      	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      	<!-- import Bootstrap -->
      	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      	<!--[if lt IE 9]>
         	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      	<![endif]-->
   	</head>
   	<body>
		{% load static %}
		<div class="container">
			<!-- navigator -->
			<div class="row">
				<div class="col-sm-12" style="margin-bottom: 4px; padding-top: 4px; padding-bottom: 4px; background: #abc">
					<div style="float: left; text-align: left;i height: 30px; line-height: 30px;">
						<small>当前位置: </small>
					{% for nav_item in nav_items %}
						<a href="/{{ nav_item.path }}">{{ nav_item.text }} /</a>
					{% endfor %}
					</div>

					<div style="float: right; text-align: right; padding-right: -4px">
						<small>欢迎访问</small>&nbsp;&nbsp;
					{% if not registered %}
						<button type="button" class="btn btn-default" style="height: 30px; line-height: 15px">登录</button>
						<button type="button" class="btn btn-default" style="height: 30px; line-height: 15px">注册</button>
					{% endif %}	
					</div>
				</div>
			</div>
			<!-- banner -->
			<div class="row" style="margin-bottom: 4px">
				<div class="col-sm-12" style="height: 300px; padding: 0px">
					<a href="#"><img src="{% static 'main/images/timg.jpg' %}" style="width: 100%; height: 100%" /></a>
				</div>
			</div>
			<!-- main body -->
			<div class="row">
				<!-- left colum -->
				<div class="col-sm-9" style="padding: 0px">
					<!-- news -->
					<div class="panel panel-default" style="margin-bottom: 4px; margin-right: 2px">
						<div class="panel-heading">
							<h3 class="panel-title">新闻动态</h3>
						</div>
						<div class="panel-body" style="height: 200px">
						</div>
					</div>
					<!-- activity history -->
					<div class="panel panel-default" style="margin-right: 2px">
						<div class="panel-heading">
							<h3 class="panel-title">历届活动</h3>
						</div>
						<div class="panel-body" style="">
							<table cellspacing="0" cellpadding="0">
							{% for activity in activities %}
								<tr style="height: 110px">
									<td style="width: 15%; height: 100px; padding-right: 10px">
										<a href="#"><img style = "width: 120px; height: 150px" src="{% static activity.img_src %}" /></a>
									</td>
									<td style="width: 85%; word-break: keep-all;">
										<h4>{{ activity.title }}</h4>
										<h4><small>{{ activity.desc }}</small></h4>
										<div style="float: left">
										<small>{{ activity.start_date }}</small>&nbsp;&nbsp;
										</div>
										<div style="float: right">
										<small>浏览: {{ activity.browse_times }}</small>
										</div>
									</td>
								</tr>
								<!-- divider -->
								<tr>
									<td colspan="2">
										<hr style="margin: 8px" width="100%" color="red" size=2 />
									</td>
								</tr>
							{% endfor %}
							</table>
						</div>
					</div>
				</div>
				<!-- right colum -->
				<div class="col-sm-3" style="height: 600px; padding: 0px">
					<div class="panel panel-default" style="margin-bottom: 4px; margin-left: 2px">
						<div class="panel-heading">
							<h3 class="panel-title">流程制度</h3>
						</div>
						<div class="panel-body" style="height: 300px">
						</div>
					</div>
					<div class="panel panel-default" style="margin-left: 2px">
						<div class="panel-heading">
							<h3 class="panel-title">最新评论</h3>
						</div>
						<div class="panel-body" style="height: 400px">
						</div>
					</div>
				</div>
			</div>

		</div> 

      	<!-- import jQuery -->
      	<script src="https://code.jquery.com/jquery.js"></script>
      	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   	</body>
</html>
