{% extends 'base-head-nav.html' %}

{% load static %}
			
{% block main_body %}
<!-- main body -->
<div class="row">
	<!-- left colum -->
	<div class="col-sm-9" style="padding: 0px">
		<!-- date arrange -->
		<div class="panel panel-default" style="margin-bottom: 8px; margin-right: 8px">
			<div class="panel-heading">
				<span class="panel-title">活动时间安排</span>
			</div>
			<div class="panel-body" style="">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>事项</th>
							<th>开始时间</th>
							<th>结束时间</th>
						</tr>
					</thead>
					<tbody>
					{% for plan in plans %}
						<tr>
							<td>{{ plan.plan_item_name }}</td>
							<td>{{ plan.plan_item_start }}</td>
							<td>{{ plan.plan_item_end }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<!-- code reviewer arrange -->
		<div class="panel panel-default" style="margin-bottom: 8px; margin-right: 8px">
			<div class="panel-heading">
				<span class="panel-title">代码评审委员</span>
			</div>
			<div class="panel-body" style="">
				<table>
					<tr>
					{% for submit in submits %}
						<td>
							<table>
								<tr>
									<td>
										<a href="/users/{{ submit.submit_reviewer.user.username }}">
											<img src="{{ submit.submit_reviewer.photo }}" style="width: 100px; height: 120px" class="img-thumbnail">
										</a>
									</td>
								</tr>
								<tr><td><small style="margin-left: 6px">英文名：{{ submit.submit_reviewer.user.username }}</small></td></tr>
								<tr><td><small style="margin-left: 6px">中文名：{{ submit.submit_reviewer.chinese_name }}</small></td></tr>
								<tr><td><small style="margin-left: 6px">{{ submit.submit_reviewer.primary_department.department_name }}</small></td></tr>
							</table>
						</td>
						<td style="width: 20px"/>
					{% endfor %}
					</tr>
				</table>
			</div>
		</div>
		<!-- code review arrange -->
		<div class="panel panel-default" style="margin-bottom: 8px; margin-right: 8px">
			<div class="panel-heading">
				<span class="panel-title">代码评审安排</span>
			</div>
			<div class="panel-body" style="padding-top: 6px; padding-bottom: 0px">
				<table class="table">
					<thead>
						<tr>
							<th>开始时间</th>
							<th>结束时间</th>
							<th>代码作者</th>
							<th>检视评委</th>
							<th>代码类别</th>
							<th>作者部门</th>
						</tr>
					</thead>
					<tbody>
					{% for submit_review_plan in submit_review_plans %}
						<tr>
							<td>{{ submit_review_plan.plan_item_start }}</td>
							<td>{{ submit_review_plan.plan_item_end }}</td>
							<td>{{ submit_review_plan.submit.activity_user.chinese_name }}</td>
							<td>{{ submit_review_plan.submit.submit_reviewer.chinese_name }}</td>
							<td>{{ submit_review_plan.submit.programming_language.language_name }}</td>
							<td>{{ submit_review_plan.submit.activity_user.primary_department.department_name }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<!-- activity candidates -->
		<div class="panel panel-default" style="margin-right: 8px">
			<div class="panel-heading">
				<span class="panel-title">参选人员</span>
			</div>
			<div class="panel-body" style="">
				<table cellspacing="0" cellpadding="0">
				{% for submit in submits %}
					<tr style="height: 150px">
						<td style=" height: 100px; padding-right: 10px">
							<a href="/submit/{{ submit.submit_id }}"><img style = "width: 120px; height: 150px" src="{{ submit.activity_user.photo }}" /></a>
						</td>
						<td width=20px></td>
						<td style="word-break: bread-word;">
							<table height="150px" style="padding: 0px">
								<tr><td><h4>代码简介</h4><td></tr>
								<tr><td><h4><small>{{ submit.code_desc }}</small></h4><td></tr>
								<tr>
									<td>
										<small>赞数：{{ submit.praise_count }}</small>&nbsp;&nbsp;
										<small>评论：{{ submit.comment_count }}</small>&nbsp;&nbsp;
										<small>浏览: {{ submit.browse_times }}</small>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					{% if not forloop.last %}
					<!-- divider -->
					<tr>
						<td colspan="3">
							<hr style="margin: 8px" width="100%" color="red" size=2 />
						</td>
					</tr>
					{% endif %}
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<!-- right colum -->
	<div class="col-sm-3" style="height: 600px; padding: 0px">
		<div class="panel panel-default" style="margin-bottom: 8px;">
			<div class="panel-heading">
				<span class="panel-title">评选结果</span>
			</div>
			<div class="panel-body" style="height: 200px">
				<span>{{ result }}</span>
			</div>
		</div>
		<div class="panel panel-default" style="">
			<div class="panel-heading">
				<span class="panel-title">最新评论</span>
			</div>
			<div class="panel-body">
				{% include "simple_comment.html" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
